
          
          br{
            margin-top: 20px;
          }
            input {
                padding: 6px;
                border-radius: 6px;
                background: rgb(193, 195, 199);
            }

            * {
                margin: 0;
                padding: 0;
                text-decoration: none;
            }

            select {
                padding: 6px;
                border-radius: 6px;
                background: rgb(193, 195, 199);
                width: 100%;
            }

            .main-header a {
                color: white;
            }

            label {
                font-size: 13px;
            }

            .main-header {
                background: rgb(235, 9, 51);
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }

            body {


                background: url("https://i.ibb.co/RzbPgMR/Screenshot-2024-11-05-18-57-12-255-com-chrome-beta-2.jpg");

            }


            .blood-div {
                courser: pointer;
                margin-top: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .home a {
              height: 30px;
                width: 60%;
                padding: 10px;
                max-width: 500px;
                border-radius: 99px;
                background: red;
                display: flex;
                font-size: 20px;
                justify-content: center;
                align-items: center;
            }

            .register-form {
                max-width: 400px;
                border: 2px solid black;
                border-radius: 10px;
                padding: 20px;

            }

            .form {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 120px;
                height: 50vh;
            }

            .form .input {
                margin: 10px;
            }

            .form-div-2 {
                max-width: 400px;
                border: 2px solid black;
                border-radius: 10px;
                padding: 5px;
                background: lightgrey;
            }

            .main-form {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 120px;
                height: 50vh;
            }

            .main-form .input2 {
                margin: 10px;
            }

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .main {
                border: 3px solid gray;
                border-radius: 6px;
                background: lightgray;
                display: flex;
                width: 250px;
                height: 60px;
                margin: 15px;
                padding: 10px 0px 10px 5px;
            }

            .main-div {}

            .user-detail {
                width: 60%;
                display: flex;
                flex-direction: column;
            }

            #link {
                display: flex;
                justify-content: center;
            }

            .registerform {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 120px;
                height: 50vh;
            }

            .card p {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                font-size: 15px;
            }

            .user-detail h2 {
                display: flex;
                padding: 2px;
                font-size: 10px;
                color: black;
            }

            h4 {
                display: flex;
                padding: 2px;
                font-size: 10px;
                color: black;
            }

            .call,
            .call2 {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .call img {
                margin: 10px 10px 10px 0px;
            }

            #or {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 40px;
            }

            #or2 h1 {
                color: red;
            }

            #register {
                courser: pointer;
                margin-top: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #register2 {
                width: 60%;
                height: 30px;
                padding: 15px;
                max-width: 500px;
                border-radius: 99px;
                background: red;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /*regiter submit*/
            .registerform2 {
                border: 5px solid black;
                color: black;
                background: lightgray;
                display: flex;
                flex-direction: column;
                width: 250px;
                margin: 15px;
                padding: 10px;
                border-radius: 20px;
            }

            #link {
                display: flex;
                justify-content: center;
            }
          h1,p,a,h2,h3,h4,h5,h6{
            cursor: pointer;
          }
            .registerform2 .p {
                margin: 5px;
                display: inline-block;
                background: rgb(12, 242, 39);
                border: 2px solid rgb(12, 242, 39);
                color: white;
                border-radius: 99px;
                justify-content: center;
                padding: 0 10px;
            }

            p {
                display: flex;
                justify-content: center;
            }

            .registerform2 h2 {
                display: flex;
                padding: 6px;
                font-size: 15px;
            }

            .bottom-background {
                padding: 10px;
                margin-top: 5%;
                background: url("https://i.ibb.co/mJXJGx2/blood-1.png") no-repeat bottom center;
                width: 100%;
            }

            @media (max-width: 400px) {
                .bottom-background {
                    width: 100%;
                }

            }

            @media(min-width: 100px) {
                .bottom-background {
                    width: 400px;
                    height: 400px;
                }

            }

            .main-background {

                display: flex;
                justify-content: center;
            }
